body
{

    background-color: #ddddde;

}

    /* NAVBAR */
    #main-navbar
{

    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    padding: 15px;

}

.navbar-brand
{

    position: relative;

}

.title
{

    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 55px;
    padding: 0;
    margin: 0;
    top: -20px;

}

.msg-container
{

    background-color: transparent;
    padding: 10px;
    
}



    /* MSG */
.msg
{

    border-radius: 10px;
    width: 40%;
    margin: 15px auto;
    border: solid #000;
    text-align: center;
    padding: 5px;

}

.msg.error
{

    color: #842029;
    background-color: #f8d7da;
    border-color: #e68d8d;

}

.msg.success
{

    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #79eb97;

}



    /* BUTTONS */
.card-btn
{

    color: #000;
    background-color: #f5c518;
    border: 2px solid #f5c518;
    width: 20%;
    margin: 20 auto;

}

.btn
{

    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: grey;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;

}

.btn:hover
{

    color: yellow;

}

.edit-contact-btn
{

    align-content: center;
    align-items: center;
    margin: 20px auto;
    width: 150px;
    margin-left: 250px;
    background-color: #fff;
    border-radius: 5px;
    
}


    /* SEARCH */
#search-form
{

    margin: 0 auto;
    width: 30%;
    margin-left: 250px;
    background-color: #fff;
    border-radius: 5px;

}

#search-form  .form-control
{

    border: none;
    width: 85%;
    box-shadow: none;

}

.search-result
{

    max-width: 60%;
    text-align: center;
    margin: 15px auto;
    background-color: transparent;
    border: 3px solid;
    padding: 10px;

}

.search-icon
{

    border: none;
    color: grey;
    background-color: transparent;
    margin: 0 auto;

}



    /* BODY */
.main-container form
{

    margin: 0 auto;
    width: 100%;
    
}
/*
.page-description
{

    margin: 0 auto;
    width: 100%;

}*/

.section-title
{
    
    margin: 100px auto 0;
    border-bottom: 3px solid rgb(255, 0, 0);
    max-width: 300px;
    text-align: center;

}

#contact-dash-container
{
    
    margin: 80px auto 0px;
    border: none;

}

#add-contact-container
{

    width: 200px;
    position: absolute;
    right: 100px;

}

.form-group
{

    margin: 0 auto;
    width: 40%;

}

.login-title
{

    color: red;
    margin: 30px auto;
    max-width: 70%;
    text-align: center;

}

#edit-contact-container form
{

    margin: 0 auto;

}

#edit-contact-container input
{

    position: absolute;
    left: 50%;
    margin: 0 auto;

}



    /* EDIT CONTACT */
.actions-column
{

    max-width: 80px;
    text-align: left;

}

.actions-column form
{

    display: inline-block;

}

.edit-btn, .delete-btn
{

    border-radius: 5px;

}

.edit-btn
{

    border: none;
    font-size: 15px;
    width: 50px;
    height: 50px;
    color: blue;
    background-color: transparent;
    padding: 5px;

}

.edit-btn:hover
{

    background-color: blue;
    color: white;

}

.delete-btn
{

    border: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
    color: red;
    background-color: transparent;
    padding: 0px;

}

.delete-btn:hover
{

    background-color: red;
    color: white;

}



/* FOOTER */
#footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

#footer p
{

    text-align: center;
    margin: auto;
    padding: 25px;
    color: #fff;

}