body
{

    background-color: #ddddde;

}

    /* NAVBAR */
    #main-navbar
{

    width: 100%;
    top: 0;
    background-color: blue;
    padding: 15px;

}

.navbar-brand
{

    position: relative;

}

.title
{

    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
    padding: 0;
    margin: 0;
    top: -20px;

}
.title.fa-solid.fa-address-book
{
    margin-right: 10px;
}

.msg-container
{

    background-color: transparent;
    padding: 10px;
    
}

.nav-link
{

    color: white;

}

.nav-link:hover
{

    color: black;

}




    /* MSG */
.msg
{

    border-radius: 10px;
    width: 40%;
    margin: 10px auto 0;
    border: solid #000;
    text-align: center;
    padding: 5px;

}

.msg.error
{

    color: #842029;
    background-color: #f8d7da;
    border-color: #e68d8d;

}

.msg.success
{

    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #79eb97;

}



    /* BUTTONS */
#contact-form, .user-form
{

    margin: 0 auto;

}

.card-btn
{

    position: absolute;
    left: 50%;
    transform: translate( -50%);
    width: 150px;
    margin: 10px auto;

}

.btn
{

    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: grey;
    text-align: center;
    font-family: Arial;
    width: auto;

}

.btn:hover
{

    color: blue;
    background-color: transparent;

}

.edit-contact-btn
{

    align-content: center;
    align-items: center;
    margin: 20px auto;
    width: 150px;
    margin-left: 250px;
    background-color: #fff;
    border-radius: 5px;
    
}


    /* SEARCH */
#search-form
{

    margin: 0 auto;
    width: 30%;
    margin-left: 250px;
    background-color: #fff;
    border-radius: 5px;

}

#search-form  .form-control
{

    border: none;
    width: 85%;
    box-shadow: none;

}

.search-result
{

    font-size: 20px;
    max-width: 60%;
    text-align: left;
    margin: 15px auto;
    background-color: rgba(128, 128, 128, 0.421);
    padding: 10px;

}

.search-copy
{

    color: blue;

}

.search-icon
{

    border: none;
    color: grey;
    background-color: transparent;
    margin: 0 auto;

}



    /* BODY */
#main-container
{
    
    position: relative;
    margin-top: 0px;
    color: black;
    min-height: 65vh;
    padding: 0px;
    
}

#main-container
{

    margin: 0 auto;
    width: 100%;
    min-height: 65vh;
    padding: 40px;
    
}

.section-title
{
    width: 350px;
    display: block;
    border-bottom: 3px solid blue;
    padding: 10px;
    margin: 0 auto 20px;
    text-align: center;

}

.page-description
{
    width: 300px;
    content: "";
    display: block;
    padding: 10px;
    margin: 0 auto 20px;
    text-align: center;

}

.link
{

    width: 300px;
    content: "";
    display: block;
    padding-top: 70px;
    margin:  auto;
    text-align: center;

}

.page-title
{
    content: "";
    width: 300px;
    border-bottom: 2px solid #f5c518;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
}

.form-group
{

    margin: 0 auto;
    width: 40%;

}

.login-title
{

    color: red;
    margin: 30px auto;
    max-width: 70%;
    text-align: center;

}

#edit-contact-container form
{

    margin-top: 50px;

}

#edit-contact-container .form-group
{

    margin: 10px auto;

}

#edit-contact-container .update-btn
{

    margin: 20px auto;

}



    /* EDIT CONTACT */
.actions-column
{

    max-width: 80px;
    text-align: left;

}

.actions-column form
{

    display: inline-block;

}

.edit-btn, .delete-btn
{

    border-radius: 5px;

}

.edit-btn
{

    border: none;
    font-size: 15px;
    width: 50px;
    height: 50px;
    color: blue;
    background-color: transparent;
    padding: 3px 5px;

}

.edit-btn:hover
{

    background-color: blue;
    color: white;

}

.delete-btn
{

    display: block;
    border: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
    color: red;
    background-color: transparent;
    margin-top: 0;

}

.delete-btn:hover
{

    background-color: red;
    color: white;

}



/* FOOTER */
#footer
{

    width: 100%;
    background-color: blue;
    margin-bottom: 0px;
}

#footer p
{

    position: relative;
    text-align: center;
    margin-top: 100px;
    padding: 25px;
    color: #fff;

}